/* CyberpunkTheme.css */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&display=swap');


body {
    background-color: #091833;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
}

.table {
    width: 100%; /* Set table width to 75% of its container's width */
    margin-left: auto; /* Center the table horizontally */
    margin-right: auto;
    border-collapse: collapse;
    border-bottom: 2px solid #133e7c;
}

th, td {
    padding: 10px;
    border: 2px solid #133e7c;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  h1, h2 {
    font-size: 1.5rem; /* Decrease font size for headings */
  }

  /* Adjust font size for form elements */
  .form-control, .btn {
    font-size: 0.7rem;
  }

  /* Adjust font size for table headers and cells */
  .table th, .table td {
    font-size: 0.7rem;
  }
}

.alert {
  max-width: 100%;
  word-wrap: break-word;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  