/* CyberpunkTheme.css */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&display=swap');


body {
    background-color: #091833;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    background-image: linear-gradient(#17082e 0, #1a0933 7%, #180732 70%, #140230 100%);
}

.table {
    width: 100%; /* Set table width to 75% of its container's width */
    margin-left: auto; /* Center the table horizontally */
    margin-right: auto;
    border-collapse: collapse;
    border-bottom: 2px solid #133e7c;
}

th, td {
    padding: 10px;
    border: 2px solid #133e7c;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  h1, h2 {
    font-size: 1.5rem; /* Decrease font size for headings */
  }

  /* Adjust font size for form elements */
  .form-control, .btn {
    font-size: 0.7rem;
  }

  /* Adjust font size for table headers and cells */
  .table th, .table td {
    font-size: 0.7rem;
  }
}

.alert {
  max-width: 100%;
  word-wrap: break-word;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.fade-in {
  animation: fadeIn 1s ease-in-out;
}
  
.progress-bar-full-width {
  width: 100%;
}

.data-timestamp {
  color: #6c757d;
  font-size: 0.8rem;
}

.form-check-label-small {
  font-size: 0.8rem;
  font-weight: normal;
}

.filter-blur {
  filter: blur(4px);
}

.table-fixed {
  table-layout: fixed;
}

.table-row-background {
  background-color: #133e7c;
}

.header-wide {
  width: 25%;
}

.header-narrow {
  width: 33.33%;
}

.two-side-page {
  display: flex;
  justify-content: space-between;
  max-width: auto;
  margin: 0 auto;
}
.left, .right {
  width: 48%;
}

@keyframes cyberpunk-glow {
  0% {
    text-shadow: 0 0 2px #00ffff, 0 0 5px #00ffff69, 0 0 10px #00ffff9b, 0 0 15px #00ffffda;
  }
  50% {
    text-shadow: 0 0 2px #36008280, 0 0 5px #360082aa, 0 0 10px #360082d1, 0 0 15px #360082;
  }
  100% {
    text-shadow: 0 0 2px #00ffff3b, 0 0 5px #00ffff69, 0 0 10px #00ffff9b, 0 0 15px #00ffffda;
  }
}

.cyberpunk-glow {
  animation: cyberpunk-glow 5s ease-in-out infinite alternate;
}

@keyframes cyberpunk-glow-2 {
  0% {
    text-shadow: 0 0 1px #00ffff3b, 0 0 3px #00ffff69, 0 0 6px #00ffff9b, 0 0 9px #00ffffda;
  }
  50% {
    text-shadow: 0 0 1px #36008280, 0 0 3px #360082aa, 0 0 6px #360082d1, 0 0 9px #360082;
  }
  100% {
    text-shadow: 0 0 1px #00ffff54, 0 0 3px #00ffff81, 0 0 6px #00ffffbc, 0 0 9px #00ffffea;
  }
}

.cyberpunk-glow-2 {
  animation: cyberpunk-glow-2 7s ease-in-out infinite alternate;
}


@keyframes pulse {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}

.pulse {
  animation: pulse 2s infinite;
}

.honeycomb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.2;  /* Increased from 0.1 to 0.2 for better visibility */
  pointer-events: none;
}